body {
    --defaultCollectionViewCellSize: 180px; /* Want to fit 2 per row on most devices */
}

.main {
    background-color: var(--systemGroupedBackgroundColour);
}

.collectionview > .section > .cell {
    text-align: center;
}

.collectionview > .section > .cell h2 {
    font-weight: 450;
}
.collectionview > .section > .cell h1 {
    font-style: italic;
}